html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Raleway';
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 0px;
  flex-wrap: wrap;
  width: 100% !important;
  max-width: 100% !important;
}

/*title*/
#div-title {
  padding: 1% 2% 0% 2%;
  width: 100%;
  max-width: 100% !important;
}

#div-title .purpose {
  font-size: 16px;
}

/* filter css */

.filterscontainer {
  padding: 2% 0% 0% 2%;
  display: flex;
  gap: 15px;
}

#filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.filterscontainer button {
  display: flex;
  text-align: center;
  height: 50px;
  min-width: 100px;
  border: 2px solid #F2F2F2;
  background-color: #fff;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 20px 0px 0px;
  border-radius: 50px;

}

.filterscontainer button i {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #DEEBFF;
  background-color: #DEEBFF;
  color: #0065FC;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.filterscontainer span {
  margin-left: 10px;
}

/* Add hover effect */
button:hover {
  background-color: #DEEBFF;
}

/* information*/

.information-101 {
  padding: 1% 2% 1% 2%;
  display: flex;
  width: 100%;
  max-width: 100% !important;
}

.information-101 .circle {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  height: 22px;
  width: 22px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid #ccc;
  flex-shrink: 0;
  margin-top: 20px;
}

.fa-info {
  font-size: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: transparent;
  height: 16px;
  width: 16px;
  padding: 2px;
  border-radius: 50%;
  flex-shrink: 0;
}

.information-102 {
  padding-left: 10px;
  width: 450px;
  font-size: 18px;
}

/*More details for accommodations in Marseille*/
.more_details {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.more_details:hover {
  color: #0065FC;
}

.more_details h3 {
  margin-left: 2%;
}

/*  css for Activities in Marceille */
.activities-container {
  width: 100%;
  max-width: 100% !important;
  padding-bottom: 30px;
}

.activities-container h3 {
  margin: 2%;
}

.activity-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 15px;
  width: 100%;
  max-width: 100%;
  grid-auto-rows: 250px;
  padding-right: 2%;
  padding-left: 2%;
  border-radius: 20px;
}

.activity-cards article {
  background-color: #fff;
  border: 1px solid #ddd;
  height: 100% !important;
  width: 100% !important;
  border-radius: 20px;
  margin-right: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.activity-cards article:hover {
  transform: translateY(-10px);
}


.activity-cards img {
  object-fit: cover;
  align-items: flex-start;
  width: 100% !important;
  height: 150px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.activity-content {
  padding-left: 10px;
}

.marked_star {
  color: #0065FC;
}

.unmarked_star {
  color: #F2F2F2;
}

#Contact-address{
  width: 100%;
  padding: 3% 3% 5% 3%;
  background-color: #F2F2F2;
}
.Footer_clickable{
  text-decoration: none;
  color: black;
}

/* for computer screen*/
/*for large screen more then 992px*/
@media screen and (min-width: 992px) {
  #mobile_search {
    display: none;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    padding: 0% 2% 0% 2%;
  }

  header .logo{
    display: flex;
    width: 100px;
    margin-top: 10px;
  }

  .nav-links {
    display: flex;
  }

  .nav-links a {
    margin-left: 48px;
    text-decoration: none;
    color: black;
    border-top: 3px solid transparent;
    padding-top: 15px;
  }

  a:hover,
  a.active {
    border-color: #0065fc;
    color: #0065fc;
    text-decoration: none;

  }


  /*css for seach bar*/

  #search{
    width: 100%;
  }

  #search .search_form{
    display: flex;
    border: 1px solid #F2F2F2;
    width: 325px;
    height: 55px;
    border-radius: 20px;
    margin: 0% 0% 0% 2%;
  }


  #search .fa-location-dot {
    display: flex;
    background-color: #F2F2F2;
    width: 60px;
    height: 55px;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    padding-top: 15px;
    font-size: 18px;
    flex-shrink: 0;
    justify-content: center;
    flex-shrink: 0;
    border: none;
    outline: none;
  }

  #search .search__input {
    display: flex;
    line-height: 40px;
    padding: 1% 2% 0% 3%;
    width: 180px;
    font-size: 20px;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
  }

  #search .input_value {
    display: flex;
    background-color: #0065FC;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    width: 90px;
    height: 55px;
    padding-bottom: 10px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    padding-top: 10px;
    font-size: 20px;
    flex-shrink: 0;
    cursor: pointer;
    margin-right: -40px;
  }

  /*  parent container for css Accommodation in marceille and most popular*/
  #parent_container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1% 2% 1% 2%;
  }

  /*css for Accommodation in marceille*/
  .accommodation-container {
    width: 70% !important;
    background-color: #F2F2F2;
    height: 100%;
    padding-left: 10px;
    border-radius: 20px;
  }

  .accommodation_heading {
    width: auto !important;
    margin: 15px 0px 5px 15px;
  }

  .Maesille_cards {
    display: flex;
    flex-wrap: wrap;
  }

  .accommodation-card {
    height: 205px;
    width: 31%;
    margin: 1%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border: 5px solid white;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .accommodation-card:hover {
    transform: translateY(-10px);
  }

  .accommodation-container .accommodation-card img {
    object-fit: cover;
    align-items: center;
    height: 50%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .accommodation-container .content {
    display: flex;
    flex-direction: column;
    height: 55%;
  }

  .accommodation-container .content h4 {
    margin: 5px 15px 0px 20px;
  }

  .accommodation-container .content p {
    font-size: 14px;
    margin: 10px 10px 0px 20px;
  }

  .accommodation-container .content .stars {
    font-size: 14px;
    margin: 10px 10px 0px 20px;
  }

  /* Most Popular*/
  .popular-container {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 35%;
    height: 100%;
    padding: 0px 10px 0px 15px !important;
    margin-left: 10px;
  }

  .popular-container .mostpopularhead {
    display: flex;
    align-items: center;
    margin-top: -5px;
    justify-content: space-between;
  }

  .mostpopularhead i {
    margin-right: 3%;
  }

  .mostpopularhead h3 {
    margin-left: 2%;
  }

  .popular-container .cards {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100% !important;
    border-radius: 20px;
    padding-bottom: 2%;
  }

  .popular-container .card {
    width: 100%;
    height: 45%;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-bottom: 6px;
  }

  .popular-container .card:hover {
    transform: translateY(-10px);
  }

  .popular-container .card img {
    object-fit: cover;
    align-items: center;
    width: 50%;
    height: 145px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .popular-container .content {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .popular-container .content h4 {
    margin: 15px 0px 5px 20px;
  }

  .popular-container .content p {
    font-size: 12px;
    margin: 10px 10px 5px 20px;
  }

  .popular-container .content .stars {
    font-size: 14px;
    margin: 10px 10px 5px 20px;

  }

  /* activities in marceille*/
  .activity-cards article:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
  }

  .activity-cards article:nth-child(3) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .activity-cards article:nth-child(1) img,
  .activity-cards article:nth-child(3) img {
    grid-row-end: span 2;
    height: 355px;
  }

  /*footer*/
  footer {
    background-color: #F2F2F2;
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px;
    margin: 0;
  }

  .footer_container {
    display: flex;
    width: 100%;
    padding: 1% 2% 1% 2%;

  }

  .footer_container .about_us {
    display: flex;
    text-align: justify;
    border-spacing: 50px;
  }

  .our_accommodations {
    display: flex;
    text-align: justify;
    margin-left: 15%;
    border-spacing: 50px;
  }

  .footer_container .booki_help {
    display: flex;
    text-align: justify;
    margin-left: 15%;
    border-spacing: 50px;
  }

}

/* for tablet screen*/
/* Styles for screens smaller than 768px */
@media only screen and (min-width: 769px) and (max-width:991px) {
  #mobile_search {
    display: none;
  }
/* Header css*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  padding: 0% 2% 0% 2%;
}

header .logo{
  display: flex;
  width: 100px;
  margin-top: 10px;
}

.nav-links {
  display: flex;
}

.nav-links a {
  margin-left: 48px;
  text-decoration: none;
  color: black;
  border-top: 3px solid transparent;
  padding-top: 15px;
}

a:hover,
a.active {
  border-color: #0065fc;
  color: #0065fc;
  text-decoration: none;

}
/* Search bar css*/
  #search{
    width: 100%;
  }

  #search .search_form{
    display: flex;
    border: 1px solid #F2F2F2;
    width: 325px;
    height: 55px;
    border-radius: 20px;
    margin: 0% 0% 0% 2%;
  }


  #search .fa-location-dot {
    display: flex;
    background-color: #F2F2F2;
    width: 60px;
    height: 55px;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    padding-top: 15px;
    font-size: 18px;
    flex-shrink: 0;
    justify-content: center;
    flex-shrink: 0;
    border: none;
    outline: none;
  }

  #search .search__input {
    display: flex;
    line-height: 40px;
    padding: 1% 2% 0% 3%;
    width: 180px;
    font-size: 20px;
    color: black;
    border: none;
    outline: none;
    text-align: center;
    background-color: transparent;
  }

  #search .input_value {
    display: flex;
    background-color: #0065FC;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    width: 90px;
    height: 55px;
    padding-bottom: 10px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    padding-top: 10px;
    font-size: 20px;
    flex-shrink: 0;
    cursor: pointer;
    margin-right: -40px;
  }

  /*  parent container for css Accommodation in marceille and most popular*/
  #parent_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 2% 1% 2%;
  }

  /*css for Accommodation in marceille*/
  .accommodation-container {
    width: 100% !important;
    background-color: #F2F2F2;
    height: 100%;
    padding-left: 10px;
    border-radius: 20px;
  }

  .accommodation_heading {
    width: auto !important;
    margin: 15px 0px 5px 15px;
  }

  .Maesille_cards {
    display: flex;
    flex-wrap: wrap;
  }

  .accommodation-card {
    height: 200px;
    width: 31%;
    margin: 1%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }


  .accommodation-container .accommodation-card img {
    object-fit: cover;
    align-items: center;
    height: 100px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .content h4 {
    margin: 15px 10px 0px 20px;
  }

  .content p {
    font-size: 14px;
    margin: 10px 10px 0px 20px;
  }

  .stars {
    font-size: 14px;
    margin: 10px 10px 0px 20px;
  }

  .more_details {
    margin-left: 2%;
  }

  /* Most Popular*/
  .popular-container {
    background-color: #F2F2F2;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding: 0px 15px 0px 15px !important;
    margin-top: 15px;
  }

  .popular-container .mostpopularhead {
    display: flex;
    align-items: center;
    margin-top: -5px;
    justify-content: space-between;
    width: 100%;
  }

  .mostpopularhead i {
    margin-right: 3%;
  }

  .mostpopularhead h3 {
    margin-left: 2%;
  }

  .popular-container .cards {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .popular-container .card {
    width: 100%;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .popular-container .card img {
    object-fit: cover;
    align-items: center;
    width: 100%;
    height: 60%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .popular-container .content {
    display: flex;
    flex-direction: column;
  }

  .popular-container .content h4 {
    margin: 15px 10px 0px 20px;
  }

  .popular-container .content p {
    font-size: 14px;
    margin: 10px 10px 0px 20px;
  }

  .popular-container .content .stars {
    font-size: 14px;
    margin: 10px 10px 0px 20px;

  }

  /* activities in marceille*/
  .activity-cards article:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
  }

  .activity-cards article:nth-child(3) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .activity-cards article:nth-child(1) img,
  .activity-cards article:nth-child(3) img {
    grid-row-end: span 2;
    height: 355px;
  }

  /*footer*/
  footer {
    background-color: #F2F2F2;
    width: 100% !important;
    max-width: 100% !important;
    padding: 10px;
    margin: 0;
  }

  .footer_container {
    display: flex;
    width: 100%;
    padding: 1% 2% 1% 2%;

  }

  .footer_container .about_us {
    display: flex;
    text-align: justify;
    border-spacing: 50px;
  }

  .our_accommodations {
    display: flex;
    text-align: justify;
    margin-left: 15%;
    border-spacing: 50px;
  }

  .footer_container .booki_help {
    display: flex;
    text-align: justify;
    margin-left: 15%;
    border-spacing: 50px;
  }
}

/* css for mobile phones*/
@media screen and (max-width: 768px) {
  #search-computer {
    display: none;
  }


  header img {
    width: 100px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #F2F2F2;
  }

  .nav-links {
    display: flex;
    width: 100%;
    margin: 0px 0px;
  }

  .nav-links a {
    margin: 0;
    padding: 16px;
    text-decoration: none;
    color: black;
    width: 50%;
    text-align: center;
  }

  .nav-links a:hover {
    color: #0065fc;
    border-top: none;
    border-bottom: 2px solid #0065fc;
  }

  /* title*/
  #div-title {
    text-align: left !important;
    width: 100%;
    padding: 0% 1% 0% 1%;
  }

  #div-title h3 {
    font-size: 22px;
    margin-left: 10px;
  }

  #div-title p {
    font-size: 16px;
    margin-bottom: 25px;
    margin-left: 10px;
  }

  /*css for search*/
  #search .input_value {
    display: none;
  }

  #search {
    width: 100%;
    padding: 0% 1% 0% 3%;
  }

  #search .search_form {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    width: 300px !important;
    height: 50px !important;
    border-radius: 20px;
  }

  #search .fa-location-dot {
    display: flex;
    justify-content: center;
    background-color: #ccc;
    text-align: center;
    width: 60px;
    height: 50px;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    padding-top: 10px;
    font-size: 18px;
    flex-shrink: 0;
    margin-right: 35px;
  }

  #search .search_form .search__input {
    line-height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    width: auto;
  }

  #mobile_search {
    display: flex;
    background-color: #0065FC;
    color: white;
    border: none;
    outline: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 50px;
    padding-bottom: 10px;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    padding-top: 10px;
    font-size: 100%;
    flex-shrink: 0;
    cursor: pointer;
  }

  /* filter css */
  .filterscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #filters {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
  }

  .low-form,
  .rom-form,
  .fam-form,
  .pet-form {
    flex-basis: 45%;
    white-space: nowrap;
    text-align: center;

  }

  .fam-form {
    order: 2;
    flex-basis: 55%;
  }

  .pet-form {
    order: 3;
    flex-basis: 55%;
  }

  button .label {
    padding-left: 10%;
  }


  /*information*/
  .information-101 {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 0% 1% 0% 2%;
  }

  .information-101 .circle {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    height: 20px;
    width: 20px;
    padding: 2px;
    border-radius: 50%;
    border: 1px solid #ccc;
    flex-shrink: 0;
    margin-top: 10px;
  }

  .fa-info {
    font-size: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: transparent;
    height: 16px;
    width: 16px;
    padding: 2px;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .information-102 {
    font-size: 14px;
    padding-left: 10px;
    width: 300px;
  }

  /* css for Accommodation in marceille*/
  #parent_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .accommodation-container {
    order: 1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 100%;
    padding: 1% 2% 0% 2%;
  }

  .accommodation_heading {
    width: auto !important;
    padding-left: 5px;
  }

  .Maesille-cards {
    margin-top: 0px;
    grid-gap: 15px;
    border-radius: 20px;
    margin-right: 10px;
  }

  .accommodation-card {
    width: 100%;
    height: 400px;
    border: 2px solid white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    padding: 5px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 3%;
  }

  .accommodation-container .accommodation-card img {
    object-fit: cover;
    align-items: center;
    width: 100%;
    height: 70%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .accommodation-card .content {
    margin-left: 10px;
  }

  .stars span {
    font-size: 13px;
  }

  /* Most Popular*/
  .popular-container {
    order: 0;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    background-color: #F2F2F2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0% 1% 0% 2%;
  }

  .popular-container .mostpopularhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
  }

  .popular-container .mostpopularhead i {
    margin-top: 20px;
    padding-right: 20px;
  }

  .popular-container .mostpopularhead h3 {
    font-size: 18px;
    padding-left: 5px;
  }

  .popular-container .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    border-radius: 20px;
    margin-top: -10px;
    padding: 0% 2% 0% 0%;
  }


  .popular-container .card {
    width: 100% !important;
    height: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 5px solid white;
    background-color: white !important;
  }

  .popular-container .card img {
    object-fit: cover;
    width: 50% !important;
    height: 100% !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .popular-container .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .popular-container .content h4 {
    font-size: 14px;
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
  }

  .popular-container .content p {
    font-size: 15px;
    display: flex;
    margin-top: -15px;
    margin-left: 15px;
  }

  .popular-container .content .stars {
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .popular-container .stars .stars span {
    color: #0065FC;
    margin: 0 2px;
    font-size: 5px;
    float: left;
    justify-content: end;
  }

  /*  css for Activities in Marceille */
  .activities-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
    padding: 0% 2% 0% 2%;
  }

  .activities-container h3 {
    padding-left: 5px;
  }

  .activity-cards {
    display: flex;
    flex-direction: column !important;
    border-radius: 20px;
  }

  .activity-cards .card {
    width: 100% !important;
    height: 350px;
    margin-bottom: 30px;
  }

  .activity-cards article {
    background-color: #fff;
    border: 2px solid #ddd;
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 3%;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .activity-cards img {
    object-fit: cover !important;
    width: 100%;
    height: 240px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  .activity-content {
    padding-left: 10px;
    padding-bottom: 5px;
  }

  /*footer*/
  footer {
    display: flex;
    background-color: #F2F2F2;
    margin-top: 50px;
    width: 100%;
    height: auto;
  }

  .footer_container table {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    padding-left: 10%;
    margin-top: 25px;
  }
}